<!DOCTYPE html>
<html lang="en" ng-app="FactoryShoppingApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Shopping List App</title>
</head>
<body>
    <h1>Custom Service Through Factory</h1>
    <!-- List #1 - Unlimited items in shopping list -->
    <div id="list1" ng-controller="ShoppingListController1 as list">
        <h2>Shooping List #1</h2>
        <div ng-controller="ShoppingListAddController as itemAdder">
            <input type="text" ng-model="itemAdder.itemName" placeholder="item name" />
            <input type="text" ng-model="itemAdder.itemQuantity" placeholder="item quantity" />
            <button ng-click="itemAdder.addItem();">Add item to Shopping List</button>
        </div>
        <div ng-controller="ShoppingListShowController as itemViewer">
            <ol>
                <list-item ng-repeat="item in itemViewer.items"></list-item>
            </ol>
        </div>
    </div>


    <h1>Custom Service Through Factory</h1>
    <!-- List #2 - Limited items(3) in shopping list -->
    <div id="list2" ng-controller="ShoppingListController2 as list">
        <h2>Shooping List #2</h2>
        <div ng-controller="ShoppingListAddController as itemAdder">
            <input type="text" ng-model="itemAdder.itemName" placeholder="item name" />
            <input type="text" ng-model="itemAdder.itemQuantity" placeholder="item quantity" />
            <button ng-click="itemAdder.addItem();">Add item to Shopping List</button>
        </div>
        <div ng-controller="ShoppingListShowController as itemViewer">
            <ol>
                <list-item ng-repeat="item in itemViewer.items"></list-item>
            </ol>
        </div>
        <div>Error: {{list.errorMessage}}</div>
    </div>
</body>
</html>