<!DOCTYPE html>
<html lang="en" ng-app="MsgApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Digest Cycle - 1</title>
</head>
<body>
    <h1>The Digest Cycle</h1>
    <div ng-controller="CounterController">
        {{ name }}
        <input ng-model="name"/>
        <div>
            <button ng-click="showNumberOfWatchers()">Log # of Watchers</button>
        </div>
        <div>
            <p>counter value: </p>
            <button ng-click="incrementCounter()">Increment Counter</button>
        </div>
    </div>
    <input onkeyup="onkeyupHandler()" />
    <button onclick="onclickHandler()">Hit me</button>
</body>
</html>