<!DOCTYPE html>
<html lang="en" ng-app="ShoppingApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Shopping List App</title>
</head>
<body>
    <h1>Custom Service</h1>
    <div ng-controller="ShoppingListAddController as itemAdder">
        <input type="text" ng-model="itemAdder.itemName" placeholder="item name" />
        <input type="text" ng-model="itemAdder.itemQuantity" placeholder="item quantity" />
        <button ng-click="itemAdder.addItem();">Add item to Shopping List</button>
    </div>
    <div ng-controller="ShoppingListShowController as itemViewer">
        <ol>
            <li ng-repeat="item in itemViewer.items">
                {{item.quantity}} of {{item.itemName}}
                <button ng-click="itemViewer.removeItem($index)">Remove this Item</button>
            </li>
        </ol>
    </div>
</body>
</html>